{% extends 'base.html.twig' %}

{% block title %}
	{{post.title}}
{% endblock %}

{% block body %}
	<div class="container ">
		<div class='row d-flex justify-content-center'>
			<div class='col-md-8'>
				<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">

				<h1>{{post.title}}</h1>
				<p class="card-text">{{post.content}}</p>
				<p>{{post.author}}
					-
					{{post.createdAt |date("d/m/Y") }}</p>
				<a href="/" class="btn btn-primary d-flex justify-content-center">Retour</a>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>{{ post.comments | length  }}
			commentaires :</h1>
		{% if not app.user %}
			<h2>"Il faut être connecté pour laisser un commentaire !"</h2>
			<a href="{{ path('security_login')}}" class="btn btn-primary">Connexion !</a>
		{% else %}
			<div class="col-md-3">
				{{ form(form) }}
				</div>
			{% endif %}
			<div class="col-md-9">
				{% for comment in post.comments %}
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{comment.pseudo}}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{comment.createdAt |date('d/m/Y')}}</h6>
							<p class="card-text">{{comment.content}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
